# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Assets/Sprites/Level_002_Enviroment/Obstructions/EMPTY.txt.meta
Assets/Sprites/Level_001_Enviroment/Obstructions/EMPTY.txt.meta
Assets/Sprites/CharactersSelectImages/EMPTY.txt.meta
Assets/Prefabs/EMPTY.txt.meta
Assets/Materials/EMPTY.txt.meta
Assets/Audio/SFX/EMPTY.txt.meta
Assets/Audio/Music/EMPTY.txt.meta
Assets/Sprites/Level_002_Enviroment/Ground/EMPTY.txt.meta
Assets/Sprites/Level_001_Enviroment/Ground/EMPTY.txt.meta
Assets/Icons/EMPTY.txt.meta
Assets/Textures/EMPTY.txt.meta
Assets/Sprites/Level_001_Enviroment/Walls/EMPTY.txt.meta
Assets/Sprites/CharacterBodyParts/EMPTY.txt.meta
